.span4.foto-about
  %img{:src => "/images/contacto/about.jpg"}
.offset1.span7.texto-about
  %h3 Sobre Nosotros
  Queilén, nace de la desvalorización de los platos típicos chilenos y con ello el de los cultivos autóctonos como la papa, el zapallo, los porotos, el ají, la quínoa, los tomates y el maíz. 
  Este hecho se produce principalmente por la globalización, que nos hace enaltecer la cultura extranjera, la de afuera, la internacional, y así llegamos a menospreciar la nuestra, la local, la mestiza, la criolla.
  %br
  %br
  Este proyecto tiene como objetivo fomentar la comida típica criolla en las personas, mediante un elemento clásico y tradicional como la papa nativa chilota; a través de una estrategia comunicacional ligada a su uso en la cocina chilena.
  %br
  %br
  Esta labor no se hubiese podido llevar a cabo si no es por dos personas, que gracias a su infinito conocimiento y trabajo constante se logró recolectar toda la información necesaria; Profesor Andrés Conteras, capísimo en cuanto a papas y papas nativas, y Axel Manríquez el gran chef preparador de todas estas recetas. Gracias a ellos, Queilén Nativa es el sitio web más completo en cuando a papas nativas y comida típica chilena se refiere.
