=haml :head
%body
  .topbar
    .fill
      .container
        =haml :header
  .container#main-box
    .row.spacer
      .span2.offset1.menu-cocina
        =haml :menu_cocina
      .span8
        #welcome-cocina
        %h2 Elige la mejor alternativa para hacer de tú cocina algo más fácil
=haml :footer
