.span2.menu-cocina
  =haml :menu_cocina, :locals => {:categorias => @categorias }
  .logos{:style => "background:#FFFFFF;"}
    %a{:href => "http://www.jumbo.cl", :target => "_blank" }
      %img{:src => "/images/recetas/jumbologo.png", :class => "logo"}
    %a{:href => "http://www.gourmet.cl", :target => "_blank" }
      %img{:src => "/images/recetas/gourmetlogo.png", :class => "logo"}
    %a{:href => "http://www.ltb.cl", :target => "_blank" }
      %img{:src => "/images/recetas/ltblogo.png", :class => "logo"}
.span9#welcome-cortes
  %img{:src => "/images/cortes/cortesportada.jpg"}
.span9.corte-intro En las distintas variedades de preparar un plato, existen diferentes técnicas de corte de los ingredientes, aplicadas la mayoría con un cuchillo. Ya sea por atractiva o que convenga mejor en la preparación del plato, aquí los cortes de papa más comunes.
.span9
  -@cortes.each do |c|
    .corte
      .span2
        %img{:src => "/images/cortes/#{c.foto}", :class => "rounded"}
      .span6
        .corte-name.burdeo=c.name
        %span.corte-description=c.description
    .row
.span3.offset2{:style => "margin-top:30px;margin-left:229px;"}
  %button.btn(onClick="window.print()" value="Imprimir")
    %i.icon-print
    Imprimir
