.row
%hr
.footer
  .rig
    %a{:href => "http://www.facebook.com"}
      %img(src="/images/facebook.jpg")
    %a{:href => "http://www.instagram.com"}
      %img(src="/images/instagram.jpg")
    %a{:href => "http://www.twitter.com"}
      %img(src="/images/twitter.jpg")
  %a(href="/papa" style="color:#4A1E21;")La Papa
  |
  %a(href="/tipos-de-papa" style="color:#4A1E21;")Tipos de Papa Nativa
  |
  %a(href="/cocina" style="color:#4A1E21;")Cocina
  |
  %a(href="/huerto" style="color:#4A1E21;")Tu Huerto
  <br><br> 
  %a(href="/" style="color:#4A1E21;") Home
  |
  %a(href="/sobre-nosotros" style="color:#4A1E21;")Sobre Nosotros
  |
  %a(href="/contacto" style="color:#4A1E21;")Contacto
  %p &copy; Queilen Nativa 2013

