%hr
.footer
  .rig
    %a{:href => "/", :class => "hov"}
      %img(src="/images/casitahome.png")
    %a{:href => "http://www.facebook.com/Queilennativa", :class => "hov", :target => "_blank" }
      %img(src="/images/facebook.png")
    %a{:href => "http://instagram.com/queilennativa", :class => "hov", :target => "_blank" }
      %img(src="/images/instagram.png")
    %a{:href => "http://www.twitter.com/QueilenNativa", :class => "hov", :target => "_blank" }
      %img(src="/images/twitter.png")
  .span8.offset1{:style => "margin-bottom:30px;"}
    %a(href="/la-papa/1" style="color:#4A1E21;")La Papa
    |
    %a(href="/tipos-de-papa" style="color:#4A1E21;")Tipos de Papa Nativa
    |
    %a(href="/cocina" style="color:#4A1E21;")Cocina
    |
    %a(href="/huerto" style="color:#4A1E21;")Tu Huerto
    <br><br> 
    %a(href="/" style="color:#4A1E21;") Home
    |
    %a(href="/sobre-nosotros" style="color:#4A1E21;")Sobre Nosotros
    |
    %a(href="/contacto" style="color:#4A1E21;")Contacto
    %br
    %br
    Copyright &copy; 2013 - Queilén Papas Nativas Ltda. Todos los derechos reservados.
