.footer.span12{:style => "background-color:#4A1E21 !important; margin-left:0px;margin-top:30px;padding-top:30px;"}
  .rig
    %a{:href => "/", :class => "hov"}
      %img(src="/images/casitafuter.png")
    %a{:href => "http://www.facebook.com/Queilennativa", :class => "hov", :target => "_blank" }
      %img(src="/images/facebookfuter.png")
    %a{:href => "http://instagram.com/queilennativa", :class => "hov", :target => "_blank" }
      %img(src="/images/instagramfuter.png")
    %a{:href => "http://www.twitter.com/QueilenNativa", :class => "hov", :target => "_blank" }
      %img(src="/images/twitterfuter.png")
  .span8.offset1{:style => "margin-bottom:30px;"}
    %a.hov(href="/la-papa/1" style="color:#fff;")La Papa
    |
    %a.hov(href="/tipos-de-papa" style="color:#fff;")Tipos de Papa Nativa
    |
    %a.hov(href="/cocina" style="color:#fff;")Cocina
    |
    %a.hov(href="/huerto" style="color:#fff;")Tu Huerto
    <br><br> 
    %a.hov(href="/" style="color:#fff;") Home
    |
    %a.hov(href="/sobre-nosotros" style="color:#fff;")Sobre Nosotros
    |
    %a.hov(href="/contacto" style="color:#fff;")Contacto
    %br
    %br
    Copyright &copy; 2013 - Queilén Papas Nativas Ltda. Todos los derechos reservados.
