%head
  %title Queilen Nativa

  %link{:rel => "shortcut icon", :type => "image/png", :href => '/favicon.ico'}

  <!--Javascripts-->
  %script(type="text/javascript" src="//use.typekit.net/hyl7ure.js")
  %script(type="text/javascript" src="/js/jquery.min.js")
  %script(type="text/javascript" src="/bootstrap/js/bootstrap.js")

  <!--Typekit-->
  %script(type="text/javascript")
    try{Typekit.load();}catch(e){}

  <!--CSS-->
  %link{:rel => 'stylesheet', :href => '/bootstrap/css/bootstrap.css', :type => "text/css"}
  %link{:rel => 'stylesheet', :href => '/css/styles.css', :type => "text/css"}
  %link{:rel => 'stylesheet', :href => '/css/papa.css', :type => "text/css"}
  %link{:rel => 'stylesheet', :href => '/css/cocina.css', :type => "text/css"}
  %link{:rel => 'stylesheet', :href => '/css/receta.css', :type => "text/css"}
  %link{:rel => 'stylesheet', :href => '/css/condimento.css', :type => "text/css"}
  %link{:rel => 'stylesheet', :href => '/css/corte.css', :type => "text/css"}
