#logo
  %a(href="/" style="text-decoration:none;")
    %img(src="/images/logopagina.png" width=270)
    .rig.pad
      %img(src="/images/casitahome.png" class="hov")
      %a{:href => "http://www.facebook.com/Queilennativa", :class => "hov"}
        %img(src="/images/facebook.png")
      %a{:href => "http://www.instagram.com", :class => "hov"}
        %img(src="/images/instagram.png")
      %a{:href => "http://www.twitter.com/QueilenNativa", :class => "hov"}
        %img(src="/images/twitter.png")
.navegacion.span12
  .menu-item.span3
    %a(href="/la-papa/1" class="hov")
      .white La Papa
  .menu-item.span3
    %a(href="/tipos-de-papa" class="hov")
      .white Tipos de papa nativa
  .menu-item.span3
    %a(href="/cocina" class="hov")
      .white Cocina
  .menu-item.span2
    %a(href="/huerto" class="hov")
      .white Tu Huerto
