#logo
  %img(src="images/LOGOPAGINA.png" height=250 width=250)
.navegacion.span12
  .menu-item.span3
    La Papa
  .menu-item.span3
    Tipos de papa nativa
  .menu-item.span3
    Cocina
  .menu-item.span2
    Tu Huerto
