.span3
  .foto-huerto
    %img{:src => "images/huerto/huerto1.jpg"}
  .foto-huerto
    %img{:src => "images/huerto/huerto3.jpg"}
  .foto-huerto
    %img{:src => "images/huerto/huerto2.jpg"}
.span5
  .body-huerto
    .huerto-title TU HUERTO
    .huerto-text
      Crea tu propia huerta con cultivos autóctonos, así te auto-fomentarás el uso de éstos y con ello el consumo de platos típicos chilenos.
      %br
      %br
      Esta selección de alimentos brotan de la tierra con el mínimo de esfuerzo. Ya sea que siembres un pedazo en tu jardín o en un macetero del balcón de tu pieza.
  .foto-huerto
    %img{:src => "images/huerto/huerto4.jpg", :style => "width:380px;height:197px"}
.span3
  .foto-huerto
    %img{:src => "images/huerto/huerto7.jpg"}
  .foto-huerto
    %img{:src => "images/huerto/huerto6.jpg"}
  .foto-huerto
    %img{:src => "images/huerto/huerto5.jpg"}
.row
.span11.foto-header-huerta
  .huerta-text
    %b Pasos
    %br
    1. Elegir una parte soleada de tu jardín o espacio para poner el macetero (ojo
    que el exceso de sol puede dañar tu cosecha).
    %br
    %br
    2. Selecciona la medida que tendrá tu huerta en forma cuadrada o rectangular. Se recomienda un espacio suficiente para poder regar, arar la tierra y poder desplazarte.
    %br
    %br
    3. Limpia el lugar elegido para que quede libre de piedras, malezas, pastos, etc. Solo tiene que quedar tierra.
    %br
    %br
    4. Moja la tierra y luego muevela para que se ablande y oxigene con la ayuda de una pala, picota, rastrillo o simplemente hazlo con tus manos.
    %br
    %br
    5. Agrega tierra de hoja o compost al lugar elegido para plantar, formando una capa de 2 a 10 cm.
    %br
    %br
    6. Ahora siembra tus cultivos autóctonos, ya sea en semilla o planta. Recuerda no dejarlas tan profundo, y siempre manteniendo una distancia entre cada una.
    %br
    %br
    %b Recuerda
    %br
    Durante la siembra y mientras tus plantas no hayan alcanzado 6 cm de altura aproximadamente, riégalas con un dosificador tipo spray o con una regadera.
    %br
    Siempre apunta a la tierra no a las hojas.
    %br
    %br
    La frecuencia e intensidad de riego dependerá de la época del año y la temperatura ambiente, pero esta fluctúa entre 2 a 4 veces por semana, dependiendo
    de la humedad de la tierra. Idealmente se debe regar temprano en la mañana o tarde por la noche.
.row
.span11.tabla
  %img{:src => "images/huerto/tabla.jpg"}

