!!! 5
%html(lang="en")
  %head
    %title Queilen Nativa
    %script(type="text/javascript" src="//use.typekit.net/hyl7ure.js")
    %script(type="text/javascript")
      try{Typekit.load();}catch(e){}
    %link{:rel => 'stylesheet', :href => 'bootstrap/css/bootstrap.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => 'css/styles.css', :type => "text/css"}
  %body
    .topbar
      .fill
        .container
          =haml :header
    .container#main-box
      .row.spacer
        .span10.texto-foto#papa-nativa
          DESCUBRE LA PAPA NATIVA CHILOTA
      .row.spacer
        .span3.texto-foto#papa-lover
          PAPA LOVER?
        .span4.texto-foto#comidas-tipicas
          COMIDAS TIPICAS
        .span3.texto-foto#la-bruja
          TE HAS COMIDO LA BRUJA?
      .row.spacer
        .span7.texto-foto#huerto-casero
          HUERTO CASERO CRIOLLO
        .span3.texto-foto#variedades
      %hr
      .footer
        %p &copy; Queilen Nativa 2013
