%script(type="text/javascript")
  $(document).ready(function() {$('.carousel').carousel({interval: 3600})});
=haml :modales
.row.spacer
  .span11.texto-foto#slider
    #Carousel.carousel.slide
      <!-- Carousel items -->
      .carousel-inner
        .item.active
          %a{:href => "/tipos-de-papa"}
            %img{ :src => "/images/slider/papaslider.jpg"}
        .item
          %a{:href => "/cocina"}
            %img{ :src => "/images/slider/chilotaslider.jpg"}
        .item
          %a{:href => "/cortes"}
            %img{ :src => "/images/slider/cortesslider.jpg"}
        .item
          %a{:href => "/huerto"}
            %img{ :src => "/images/slider/huertoslider.jpg"}
        .item
          %a{:href => "/recetas/10"}
            %img{ :src => "/images/slider/recetadelasemana.jpg"}
      <!-- Carousel nav -->
      %a.carousel-control.left(href="#Carousel" data-slide="prev" style="height:15px;width:15px")
      %a.carousel-control.right(href="#Carousel" data-slide="next" style="height:15px;width:15px")
.row
  %a{:href => "/papa-lover"}
    %img{ :src => "/images/home/papalover3.jpg", :id => "papa-lover", :class => "span3"}
  %a{:href => "/cocina"}
    %img{ :src => "/images/home/comidatipicahome.jpg", :id => "comidas-tipicas", :class => "span5" }
  %a(href="#brujamodal" role="button" data-toggle="modal")
    %img{ :src => "/images/home/brujapapa.jpg", :id => "la-bruja", :class => "span3" }
.row.spacer
  %a{:href => "/huerto"}
    %img{ :src => "/images/home/huertohome.jpg", :id => "huerto-casero", :class => "span8" }
  .span3#variedades{:style => "background-image: url('/images/home/#{@info.foto}');"}
