=haml :head
%body
  .topbar
    .fill
      .container
        =haml :header
  .container#main-box
    .row.spacer
      .span11.texto-foto#papa-nativa
        %span.center-pad Descubre la papa nativa chilota
    .row.spacer
      .span3.texto-foto#papa-lover
        %span.text-pad Papa lover?
      .span4.texto-foto#comidas-tipicas
        %span.text-pad Comidas tipicas
      .span4.texto-foto#la-bruja
        %span.text-pad Te has comido la bruja?
    .row.spacer
      .span8.texto-foto#huerto-casero
        %span.center-pad Huerto casero criollo
      .span3.texto-foto#variedades
  =haml :footer
