=haml :modal_papa, :locals => {:papa =>@papas[0], :id => "brujamodal"}
=haml :modal_papa, :locals => {:papa =>@papas[1], :id => "michunemodal"}
=haml :modal_papa, :locals => {:papa =>@papas[2], :id => "murtamodal"}
=haml :modal_papa, :locals => {:papa =>@papas[3], :id => "overamodal"}
=haml :modal_papa, :locals => {:papa =>@papas[4], :id => "viscochamodal"}
=haml :modal_papa, :locals => {:papa =>@papas[5], :id => "yaganamodal"}
