=haml :modal_papa, :locals => {:papa =>@papas[0], :id => "overamodal"}
=haml :modal_papa, :locals => {:papa =>@papas[0], :id => "michunemodal"}
=haml :modal_papa, :locals => {:papa =>@papas[0], :id => "brujamodal"}
=haml :modal_papa, :locals => {:papa =>@papas[0], :id => "viscochamodal"}
=haml :modal_papa, :locals => {:papa =>@papas[0], :id => "yaganamodal"}
=haml :modal_papa, :locals => {:papa =>@papas[0], :id => "murtamodal"}
