=haml :modales
.row.spacer
  %a.hov(href="#overamodal" role="button" data-toggle="modal")
    .span5.texto-papa#overa
  %a.hov(href="#michunemodal" role="button" data-toggle="modal")
    .span5.texto-papa#michune
.row.spacer
  %a.hov(href="#viscochamodal" role="button" data-toggle="modal")
    .span5.texto-papa#viscocha
  %a.hov(href="#brujamodal" role="button" data-toggle="modal")
    .span5.texto-papa#bruja
.row.spacer
  %a.hov(href="#yaganamodal" role="button" data-toggle="modal")
    .span5.texto-papa#yagana
  %a.hov(href="#murtamodal" role="button" data-toggle="modal")
    .span5.texto-papa#murta
