=haml :head
%body
  .topbar
    .fill
      .container
        =haml :header
  =haml :modales
  .container#main-box
    .row.spacer
      %a(href="#overamodal" role="button" data-toggle="modal")
        .span5.texto-papa#overa
      %a(href="#michunemodal" role="button" data-toggle="modal")
        .span5.texto-papa#michune
    .row.spacer
      %a(href="#viscochamodal" role="button" data-toggle="modal")
        .span5.texto-papa#viscocha
      %a(href="#brujamodal" role="button" data-toggle="modal")
        .span5.texto-papa#bruja
    .row.spacer
      %a(href="#yaganamodal" role="button" data-toggle="modal")
        .span5.texto-papa#yagana
      %a(href="#murtamodal" role="button" data-toggle="modal")
        .span5.texto-papa#murta
  =haml :footer
