!!! 5
%html(lang="en")
  %head
    %title Queilen Nativa
    %script(type="text/javascript" src="//use.typekit.net/hyl7ure.js")
    %script(type="text/javascript")
      try{Typekit.load();}catch(e){}
    %link{:rel => 'stylesheet', :href => 'bootstrap/css/bootstrap.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => 'css/styles.css', :type => "text/css"}
  %body
    .topbar
      .fill
        .container
          =haml :header
    .container#main-box
      .row.spacer
	      .span6#overa 
          NATIVA OVERA
	      .span6#michune 
		      NATIVA MICHUÑE
      .row.spacer
	      .span6#viscocha 
		      NATIVA VISCOCHA
	      .span6#bruja 
		      NATIVA BRUJA
      .row.spacer
	      .span6#yagana 
		      NATIVA YAGANA
	      .span6#murta 
		      NATIVA MURTA
      %hr
      .footer
        %p &copy; Queilen Nativa 2013
