.spacer
  .span2.menu-cocina
    =haml :menu_cocina, :locals => {:categorias => @categorias }
  .span9
    .span9{:id => "welcome-#{@categoria.nombre}"}
    %img{:src => "/images/categorias/#{@categoria.foto}"}
    .categoria-description=@categoria.description
    .span9
      -@recetas.each do |r|
        .list-nombre
          %a{:href => "/recetas/#{r.id}"}
            %img{:src => "/images/q.png", :style => "float:left;padding-right:15px;"}
            .burdeo.receta-nombre(style="float:left;")=r.name
        .row
