.spacer
  .span2.menu-cocina
    =haml :menu_cocina, :locals => {:categorias => @categorias }
  .span9
    #welcome-cocina
    %h2.offset3=receta.name
    .span2.offset1
      ="Dificultad: "+receta.difficulty
    .span2
      =receta.time.to_s+" minutos"
    .span2
      =receta.servings.to_s+" Porciones"
    .row
    %hr
    %span.chef Receta creada y preparada para <b>Queilén</b> por el <b>Chef Axel Manriquez</b>, de <b>Le Toques Blanches</b>
    .row
    .span4.columna-receta
      .columna-title INGREDIENTES
      =receta.ingredients.force_encoding("ISO-8859-1").encode("utf-8", replace: nil)
    .span3.columna-receta
      .columna-title PREPARACIÓN
      =receta.instructions.force_encoding("ISO-8859-1").encode("utf-8", replace: nil)
    .row
    .secreto=receta.secret.force_encoding("ISO-8859-1").encode("utf-8", replace: nil)
