.span2.menu-cocina
  =haml :menu_cocina, :locals => {:categorias => @categorias }
  .logos{:style => "background:#FFFFFF;"}
    %a{:href => "http://www.jumbo.cl", :target => "_blank" }
      %img{:src => "/images/recetas/jumbologo.png", :class => "logo"}
    %a{:href => "http://www.gourmet.cl", :target => "_blank" }
      %img{:src => "/images/recetas/gourmetlogo.png", :class => "logo"}
    %a{:href => "http://www.ltb.cl", :target => "_blank" }
      %img{:src => "/images/recetas/ltblogo.png", :class => "logo"}
.span9.spacer
  %img{:src => "/images/recetas/#{@receta.foto}", :class => "foto-receta"}
.span9.spacer
  %a{:href => "/recetas/categorias/#{@receta.category_id}", :style => "color:#4A1E21;", :class => "hov"}
    %i.icon-circle-arrow-left
    ="Volver a #{@categoria.nombre}"
  .rig-pad
    -if @receta.next
      %a{:href => "/recetas/#{@receta.next.id}", :style => "color:#4A1E21;", :class => "hov"}
        ="Siguiente receta"
        %i.icon-circle-arrow-right
.span9{:style => "padding-left:30px;"}
  .span2.offset1
    %img{:src => "/images/recetas/gorrochef.png", :class => "i-receta"}
    %span.d-receta=@receta.difficulty.force_encoding("ISO-8859-1").encode("UTF-8")
  .span2
    %img{:src => "/images/recetas/reloj.png", :class => "i-receta"}
    %span.d-receta=@receta.time.to_s+" min."
  .span2
    %img{:src => "/images/recetas/cubiertos.png", :class => "i-receta"}
    %span.d-receta=@receta.servings.to_s+" Porciones"
  .span9.chef-div
    %span.chef Receta creada y preparada para <b>Queilén</b> por el <b>Chef Axel Manriquez</b>, de <b>Le Toques Blanches</b>
  .span8.ruler
  .span4.columna-receta
    .columna-title INGREDIENTES
    =@receta.ingredients
  .span3.columna-receta
    .columna-title PREPARACIÓN
    =@receta.instructions
  .secreto="SECRETO<br>"+@receta.secret
.row
.span3.offset2{:style => "margin-top:30px;margin-left:229px;"}
  %button.btn(onClick="window.print()" value="Imprimir")
    %i.icon-print
    Imprimir
