#welcome-cocina{
	background-image: url("../images/papashome.jpg");
	height: 232px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px; 
	border-bottom-right-radius: 18px; 
	border-bottom-left-radius: 18px; 
}
.menu-cocina{
	color: #BF742E;
	padding: 15px;
	background: #FBFAF9;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px; 
	border-bottom-right-radius: 18px; 
	border-bottom-left-radius: 18px; 

}
