#welcome-cocina{
	background-image: url("/images/cocinaportada.jpg");
	height: 232px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px; 
	border-bottom-right-radius: 18px; 
	border-bottom-left-radius: 18px; 
}
.menu-cocina{
	color: #BF742E;
	padding: 5px;
	background: #FBFAF9;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px; 
	border-bottom-right-radius: 18px; 
	border-bottom-left-radius: 18px; 

}
.menu-title{
	color: #4A1E21;
	font-weight: bold;
	font-size:2em;
	padding-left:16px;
	padding-top:15px;
	padding-bottom:15px;
}
.menu-option{
	color: rgba(184,151,92,1);
	font-weight: bold;
	font-size:1.2em;
}
.menu-category{
	color: rgba(190,113,42,1);
	font-weight: bold;
	font-size:1.2em;
}
