#welcome-cocina{
	background-image: url("/images/cocinaportada.jpg");
	height: 217px;
	width: 671px;
	margin-top: 30px;
}
.menu-cocina{
	color: #BF742E;
	padding: 10px;
	margin-top:30px;
	background: #FBFAF9;
}
.foto-receta{
}
.menu-title{
	color: #4A1E21;
	font-weight: bold;
	font-size:2em;
	padding-top:10px;
	padding-bottom:30px;
}
.menu-option{
	color: rgba(184,151,92,1);
	font-weight: bold;
	font-size:1.2em;
}
.menu-category{
	color: rgba(190,113,42,1);
	font-weight: bold;
	font-size:1.2em;
}
