.corte-nombre{
	color: #BF742E;
}
#welcome-cortes{
	margin-top: 30px;
}
.corte-intro{
	padding-top: 30px;
	font-size: 1.1em;
}
.corte-description{
	font-size: 1.1em;
	color: #631E20;
}
.corte{
	margin-top: 40px;
	margin-bottom: 30px;
	background: #ddd;
	color: #631E20;
}

