.chef{
	color: #BE712A;
	font-family: "museo";
	font-style: italic;
}
.columna-receta{
	padding-top: 30px;
	padding-bottom: 30px;
}
.columna-title{
	font-family: "museo";
	font-size: 1.2em;
}
.receta-nombre{
	font-size:1.4em;
}
.categoria-nombre{
}
.categoria-description{
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 1.3em;
}

.secreto{
	text-transform:uppercase;
	float:right;
	color: #BE712A;
	padding-right: 5px;
	font-family: "museo";
	font-size: 1.1em;
    border-right:solid #BE712A;
}
