.chef{
	color: #BE712A;
	margin-top: 15px;
	font-family: "museo";
	font-style: italic;
}
.chef-div{
	padding-top:30px;
}
.ruler{
	height: 2px;
	margin-top:30px;
	background-color:#742933; 
}
.lining{ 
	padding-left: 10px;
}
.columna-receta{
	padding-top: 30px;
	padding-bottom: 30px;
	color: #631E20;
}
.i-receta{
	padding-top: 30px;
}
.d-receta{
	position: relative;
	top: 15px;
	left: 10px;
	color: #742933;
	font-weight: bold;
}
.columna-title{
	font-family: "museo";
	color: #631E20;
	font-size: 1.2em;
}
.columns-text{
	color: #631E20;
	font-family: "museo";
}
.receta-nombre{
	color: #4A1E21;
	font-weight: bold;
	font-size:1.5em;
	padding-left:6px;
	padding-bottom:5px;

}
.list-nombre{
	margin-top: 15px;
}
.categoria-foto{
	margin-top: 30px;
}
.categoria-nombre{
}
.categoria-description{
	padding-top: 30px;
	padding-right:30px;
	color: #4A1E21;
	padding-bottom: 30px;
	font-size: 1.3em;
}

.secreto{
	text-transform:uppercase;
	float:left;
	color: #BE712A;
	margin-right: 25px;
	margin-top:15px;
	padding-left: 10px;
	font-family: "museo";
	font-size: 1em;
    border-left:solid #BE712A;
}
.rig-pad{
	float:right;
	padding-right:30px;
	color: #4A1E21;
}
.marcas{
	height: 500px;
}
.logo{
	margin-top: 30px;
	margin-bottom: 15;
}
