#logo:hover{
	text-decoration:none;
}
#logo{
	padding-top: 30px; padding-bottom: 30px;
}
.casita{
	margin-left: 15px;
}
.casita:hover{
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
.hov:hover{
	text-decoration: none;
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
.navegacion{
	background: #4A1E21;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px; 
	list-style: none;
	margin: 0;
}
.menu-item{
	font-family: "museo";
	font-size: 1.5em;
	float: left;
	padding-top: 15px;
	text-align: center;
	padding-bottom: 15px;
}
.white{
	color: #fff;
}
.pad{
	padding-top:30px;
}
.rig{
	float:right;
	margin-right: 45px;
}
#main-box{
	background: #F3EEEA;
	font-family: "brevia";
}
.texto-foto{
	font-size: 3.2em;
	font-family: "brevia",serif;
	font-style: italic;
	font-weight: 800;
	color: #feb;
	line-height: 1.25;
}
.spacer{
	padding-top: 30px;
}
.center-pad{
	position:relative;
	top: 100px;
	left: 70px;
}
.text-pad{
	position:relative;
	top: 100px;
	left: 50px;
}
#slider{
	margin-left: 60px;
}
.rounded{
}
#papa-lover{
    background-size: cover;
	margin-left: 60px;
	height: 320px;
}
#papa-lover:hover
{
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
#comidas-tipicas{
    background-size: cover;
	height: 320px;
}
#comidas-tipicas:hover
{
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
#la-bruja{
	height: 320px;
    background-size: cover;
}
#la-bruja:hover
{
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
#huerto-casero{
    background-size: cover;
	margin-left: 60px;
	height: 320px;
}
#huerto-casero:hover
{
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
#variedades{
	background-image: url("../images/home/variedades.png");
    background-size: cover;
	height: 320px;
}
.footer{
	margin-right:30px;color:#fff !important;
	font-family: "museo";
	font-weight: 300;
	font-size: 1.0em;
	}
.texto-about{
	margin:30px;
	border-top: solid 2px #4A1E21;
	font-family: "museo";
	font-weight: 300;
	font-size: 1.3em;
}
.foto-about{
	margin-top:30px;
}
.texto-contacto{
	margin:30px;
	border-top: solid 2px #4A1E21;
	font-family: "museo";
	font-weight: 300;
	padding-top:30px;
	font-size: 1.3em;
}
.foto-contacto{
	margin-top:30px;
}
.foto-lover{
	margin-top: 30px;
}
.texto-lover{
	font-family: "brevia";
	font-weight: 300;
	font-size: 1.3em;
	margin-top: 30px;
	margin-bottom: 30px;
	}
