#logo{
	padding-top: 30px; padding-bottom: 30px;
}
.navegacion{
	background: #4A1E21;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px; 
	list-style: none;
	margin: 0;
}
.menu-item{
	font-family: "museo";
	font-size: 1.5em;
	float: left;
	padding-top: 15px;
	text-align: center;
	padding-bottom: 15px;
	color: #fff;
}
#main-box{
	background: #F3EEEA;
	font-family: "brevia";
}
.texto-foto{
	font-size: 3.2em;
	font-family: "brevia",serif;
	font-style: italic;
	font-weight: 800;
	color: #fff;
	line-height: 1.25;
	padding-top: 30px;
	padding-left: 30px;
}
.spacer{
	padding-top: 30px;
}
#papa-nativa{
	background-image: url("../images/papashome.jpg");
	margin-left: 60px;
	height: 232px;
	width: 840px;
}
#papa-lover{
	background-image: url("../images/lover.png");
	margin-left: 60px;
	height: 300px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px; 
}
#comidas-tipicas{
	background-image: url("../images/tipicas.png");
	height: 300px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px; 
}
#la-bruja{
	background-image: url("../images/bruja.png");
	height: 300px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px; 
}
#huerto-casero{
	background-image: url("../images/huerto.png");
	margin-left: 60px;
	height: 300px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px; 
}
#variedades{
	background-image: url("../images/variedades.png");
	height: 300px;}
.footer{padding-left:30px;}
